:root {
    --blue: #0065FC;
    --white: #ffffff;
    --gris: #F2F2F2;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

#bloc_page {
    max-width: 1440px;
    max-height: 100%;
    margin: auto;
}

/*header*/

header {

    display: flex;
    width: 100%;
    height: 67px;
    justify-content: space-between;
    align-items: flex-end;

}

.logo {
    width: 61.09px;
    height: 19px;
    padding-left: 55px;

}

/* navigation hébergement/Activités  */
.navbar {
    display: flex;
    width: 30%;
}

.nav {
    display: flex;
    width: 50%;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 16px;
    align-items: flex-end;
    justify-content: center;
}

.nav:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
    padding-top: 46px;
}


/* section filtre_activites */

#filtre_activites {
    margin: 63px 0 0 55px;
}

.titre_filtre p {

    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;

}

.filters_form {
    display: flex;
}

.recherche_desktop {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    color: var(--white);
}

.localisation_filtre {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.localisation_box1 {
    display: flex;
    background-color: var(--gris);

    width: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}


.loupe_recherche_mobile {
    display: none;
    color: var(--white);
    background-color: var(--blue);
    width: 50px;
    border: 1px solid var(--blue);
    border-radius: 0 15px 15px 0;
}



.barre_recherche {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--gris);
    width: 60%;

}

::placeholder {
    color: black;
    opacity: 1;
}

.bouton_recherche {
    background-color: var(--blue);
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    text-align: center;
    margin: 14px 0 0 16px;
    cursor: pointer;
}

.filtres_recherche {

    display: inline-flex;
    flex-direction: row;
    column-gap: 10px;

}

.filtre_recherche_bouton {

    list-style-type: none;
    display: flex;
    column-gap: 30px;


}

.filtres_recherche p {

    margin-top: 46px;
    padding-left: 7px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

}

.filtre {
    display: inline-flex;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: center;
    margin-top: 31px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    cursor: pointer;
}


.filtre_recherche_bouton i {
    font-size: 22px;
    color: var(--blue);
    padding-right: 10px;
}

.bouton_filtres {
    font-size: 17px;
    border: none;
    font-style: normal;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background: none;

}

.filtre_recherche_bouton div:hover {
    background-color: #DEEBFF;
}

.filtre_information {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 39px;

}

.filtre_information .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    font-size: 10px;
    border-radius: 20px;
    color: var(--blue);
    border: solid 1px #D9D9D9;
    margin-right: 20px;
}



.filtre_information p {
    font-style: normal;
    font-size: 16px;
}

/* Section hébergement à marseille*/

#section_hebergement {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    column-gap: 25px;
    margin: 0 50px 0 50px;
}

.hebergement_marseille {
    background-color: var(--gris);
    border-radius: 20px;
    border-color: var(--gris);
    width: 65%;
}

.hebergement_marseille h2 {
    padding: 42px 0px 23px 40px;
}

.carte_hebergement_marseille {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.carte_hebergement {

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
    background-color: var(--white);
    text-decoration: none;
    color: black;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.image_hebergement {
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid var(--white);
    object-fit: cover;
}

h1,
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.hebergement_marseille h3 {
    padding: 4px 0 0 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

}

.hebergement_marseille .carte_hebergement p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 9px 0 0 16px;
    color: black;

}

.etoiles {
    display: flex;
    flex-direction: row;
    padding: 9px 0px 11px 16px;
    font-size: 12px;
    color: var(--blue);

}

.etoiles i:nth-child(5) {
    color: var(--gris);
}

.prix {
    font-weight: bold;
}

.hebergement_marseille .afficher_plus {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin: 40px 0 0 44px;
}


.plus_populaire {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--gris);
    border-radius: 20px;
}

.entete_plus_populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus_populaire .entete_plus_populaire p {
    font-weight: 700;
    font-size: 22px;
    padding: 41px 0 26px 37px;
}

.entete_plus_populaire i {
    color: var(--blue);
    width: 18px;
    height: 15.75px;
    padding: 46px 42px 0 0;
}

.carte_plus_populaire {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    align-items: center;
    padding-bottom: 34px;
}

.carte_populaire {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 90%;
    height: 28.2%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.texte_carte_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0px 20px 20px 0px;
    width: 100%;

}

.texte_carte_populaire h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: black;
    padding: 16px 22px 0 15px;


}

.texte_carte_populaire p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding: 9px 0 0 15px;

}

.image_carte_populaire {
    width: 137px;
    height: 93.2%;
    object-fit: cover;
    border: 5px solid var(--white);
    border-radius: 20px 0px 0px 20px;



}


/*section_activites_a_marseille */

#activites_a_marseille {

    display: flex;
    flex-direction: column;
    row-gap: 18px;
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;


}

#activites_a_marseille h2 {
    padding-left: 50px;
    margin-top: 60px;

}

.carte_activites_a_marseille {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    height: 80%;
}

.carte_activites {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 22%;
    height: 100%;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.image_carte_activites {
    width: 100%;
    height: 445px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.carte_activites_a_marseille p {

    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 21px 0 21px 19px;
}




footer {
    display: flex;
    flex-direction: row;
    column-gap: 240px;
    max-width: 100%;
    padding: 45px 0 0 60px;
    margin: 61px 53px 0 48px;
    background-color: var(--gris);


}

.footer_liens {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0 0 40px 0;
}

.footer_titre {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

footer a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
}


/*media queries tablette/body */
@media screen and (max-width:992px) {

    header {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

    .logo {
        padding-left: 54px;
    }


    .nav:hover {
        border-top: none;
    }

    .filtres_recherche {

        max-width: 100%;
        justify-content: flex-start;
        column-gap: 10px
    }

    .filtre_recherche_bouton {

        column-gap: 10px;

    }

    .filtre {

        padding: 0 15px 0 15px;

    }

    .carte_plus_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .entete_plus_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .plus_populaire {

        width: 100%;
        height: 100%;
        margin-top: 53px;
        margin-right: 50px;
        flex-wrap: wrap;

    }

    .carte_populaire {
        height: 154px;
        width: 32%;
        flex-wrap: nowrap;
    }

    .texte_carte_populaire h3 {
        font-size: 14px;
    }

    .texte_carte_populaire p {
        font-size: 13px;
    }

    .image_carte_populaire {
        max-width: 100%;
        object-fit: cover;
        border: 5px solid var(--white);
        border-radius: 20px 0px 0px 20px;
    }

    #section_hebergement {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .hebergement_marseille {
        width: 100%;
        margin-right: 50px;
        flex-wrap: wrap;
    }

    .hebergement_marseille .afficher_plus {
        margin-bottom: 46px;

    }


    .carte_activites_a_marseille {
        margin-right: 50px;
        width: 88%;

    }

    #activites_a_marseille h6 {
        margin-top: 0;
    }

    #activites_a_marseille {
        margin-right: 0;
        margin-top: 0;
    }

    .carte_activites {
        height: 267px;
        background-color: var(--white);
        flex-wrap: nowrap;

    }

    .image_carte_activites {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .carte_activites_a_marseille p {
        padding-top: 10px;
    }

    footer {

        column-gap: 100px;

    }
}



/*media queries pour le mobile */

@media screen and (max-width:768px) {
    header {

        flex-direction: column;
        align-items: center;
        padding-top: 21px;
        height: 150px;
        width: 100%;
        justify-content: space-between;
    }

    .logo {

        padding-left: 0px;
    }

    .navbar {
        margin-right: 0px;
        width: 100%;
        padding-bottom: 20px;

    }

    .nav {
        border-bottom: 3px solid var(--gris);
        padding-bottom: 20px;

    }

    .nav:hover {
        color: var(--blue);
        border-bottom: 3px solid var(--blue);
        padding-bottom: 20px;
    }

    #filtre_activites {
        margin-top: 31px;
        margin-left: 20px;
    }


    .localisation_filtre {
        width: 100%;
        flex-wrap: nowrap;

    }

    .filtres_recherche p {
        margin-top: 30px;
    }


    .localisation_box1 {
        width: 60px;
        height: 52px;
    }

    .recherche_desktop {
        display: none;
    }

    .filters_form {
        width: 80%;
    }

    .loupe_recherche_mobile {
        display: block;
        cursor: pointer;
    }

    .filtres_recherche {
        display: flex;
        flex-direction: column;
    }

    .barre_recherche {
        width: 90%;
    }

    .filtre_recherche_bouton {

        column-gap: 20px;
        flex-wrap: wrap;
    }

    .bouton_filtres {
        font-size: 11px;
    }

    .filtre {
        width: 35%;
    }

    .filtre:hover {
        cursor: pointer;
        transform: scale(1);
        transition: 0.5s;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .filtre_information {
        align-items: flex-start;
    }

    .filtre_information .fa-solid {
        width: 24px;
    }




    #section_hebergement {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .plus_populaire {
        width: 100%;
        margin: 0;
        justify-content: center;
        border-radius: 0;

    }

    .carte_plus_populaire {
        display: flex;
        flex-direction: column;

    }

    .texte_carte_populaire {
        flex-wrap: nowrap;
        width: 90%;

    }

    .carte_populaire {
        width: 90%;
    }

    .hebergement_marseille {
        width: 100%;
        background-color: var(--white);
    }

    #activites_a_marseille h2 {
        padding-left: 50px;
        margin-top: 0;
    }

    .carte_hebergement_marseille {
        width: 100%;
    }

    .carte_hebergement {
        width: 90%;
        height: 199px;
    }

    .image_hebergement {

        width: 100%;
        height: 65%;
        object-fit: cover;
    }

    .hebergement_marseille .afficher_plus {
        visibility: hidden;
    }

    .carte_activites_a_marseille {

        row-gap: 24px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .carte_activites {
        width: 90%;
        height: 190px;

    }

    .image_carte_activites {
        width: 100%;
        height: 134px;
        object-fit: cover;
    }

    footer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 61px;
        height: 100%;
        margin: 80px 0 0 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
        padding-left: 30px;
    }

}