* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}



#bloc_page {
    max-width: 1440px;
    max-height: 100%;
    margin: 0;
}



/*header*/

header {

    display: flex;
    width: 100%;
    height: 67px;
    justify-content: space-between;
    align-items: flex-end;

}

.logo {
    width: 61.09px;
    height: 19px;
    padding-left: 55px;

}

/* navigation hébergement/Activités  */

nav ul {
    display: flex;
    column-gap: 68px;
    margin-right: 77px;


}

nav li {
    list-style-type: none;


}

nav a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 46px;
}

/* section filtre_activites */

#filtre_activites {

    margin-top: 63px;
    margin-left: 55px;
}

.titre_filtre  p {

    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
 
}

.location_filtre {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

.location_box1 {
    display: flex;

    background-color: #F2F2F2;
    height: 51px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.location_box2 {
    display: flex;
    background-color: white;
    border: 1px solid #F2F2F2;
}

.location_box3 {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
}

.loupe_recherche_mobile {
    visibility: collapse;
    color: white;
    background-color: #0065FC;
    border: none;
}

.barre_recherche {
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

::placeholder {
    color: black;
    opacity: 1;
}

.bouton_recherche {
    background-color: #0065FC;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 14px 0 0 16px;
}

.filtres_recherche {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 68%;
}

.filtres_recherche li {

    list-style-type: none;
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;

}

.filtres_recherche h3 {

    margin-top: 46px;
    padding-left: 7px;

}

.filtre {
    display: flex;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: center;
    margin-top: 31px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}


.filtres_recherche li i {
    font-size: 22px;
    color: #0065FC;
    padding-right: 10px;
    display: inline-block;
}

.bouton_filtres {
    font-size: 17px;
    border: none;
    font-style: normal;
    font-weight: 700;
    color: black;
    display: inline-block;
    text-decoration: none;
    background: none;
    flex-wrap: wrap;
}

.filtres_recherche form:hover {
    background-color: #DEEBFF;
}

.filtre_information {
    display: flex;
    flex-direction: row;
    column-gap: 11px;
}

.filtre_information .icone {
    display: flex;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 35px;


}

.filtre_information figure i {
    height: 10px;
    width: 4px;
}

.filtre_information p {
    font-style: normal;
    font-size: 16px;
    margin-top: 38px;
    margin-bottom: 39px;

}

/* Section hébergement à marseille*/

#section_hebergement {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    column-gap: 33px;
margin-right: 50px;
    margin-left: 50px;
}

.hebergement_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    border-color: #F2F2F2;
    width: 65%;
}

.hebergement_marseille h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    padding: 42px 0px 23px 42px;
}

.carte_hebergement_marseille {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.carte_hebergement {

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.image_hebergement {
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid white;
    object-fit: cover;
}

h2,
h4
 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: black;
}
#activites_a_marseille h6
{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: black;
    padding-left: 50px;
    margin-top: 60px;

}

.hebergement_marseille h5 {
    padding: 4px 0 0 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
   
}

.hebergement_marseille h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-left: 16px;
    padding-top: 9px;
    color: black;

}

.etoiles {
    display: flex;
    flex-direction: row;
    padding: 9px 0px 11px 16px;
    font-size: 12px;

}

.etoile_bleu {
    color: #0065FC;
}

.etoile_grise {
    color: #F2F2F2;
}

.hebergement_marseille div p {

    font-weight: 700;
    font-size: 18px;
    padding: 40px 0px 46px 44px;
}

.plus_populaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F2F2F2;
    border-radius: 20px;
    width: 420px;

}

.entete_plus_populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus_populaire p {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 37px;
    padding-top: 41px;
    padding-bottom: 26px;
}

.entete_plus_populaire i {
    color: #0065FC;
    width: 18px;
    height: 15.75px;
    padding-right: 42px;
    padding-top: 46px;
}

.carte_plus_populaire {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    align-items: center;
    padding-bottom: 34px;
}

.carte_populaire {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    box-sizing: border-box;
    width: 78%;
    height: 28.5%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);


}

.texte_carte_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
}

.texte_carte_populaire h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: black;
    padding: 16px 22px 0 15px;


}

.texte_carte_populaire h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding: 9px 0 0 15px;

}

.image_carte_populaire {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;


}


/*section_activites_a_marseille */

#activites_a_marseille {

    display: flex;
    flex-direction: column;
    row-gap: 18.5px;


}

.carte_activites_a_marseille {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;

}

.carte_activites {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 302px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.image_carte_activites {
    width: 302px;
    height: 445px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.carte_activites_a_marseille p {

    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 21px 0 21px 19px;
}

h7 {
    display: block;
    margin-top: 60px;
    margin-left: 50px;

}


footer {
    display: flex;
    flex-direction: row;
    column-gap: 240px;
    flex-wrap: wrap;
    padding-left: 48px;
    margin: 61px 53px 0 48px;
    background-color: #F2F2F2;

}

.footer_liens {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

}

footer h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

footer a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
}


@media screen and (max-width:992px) {
    header {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

    .logo {
        padding-left: 54px;
    }

    nav ul {
        display: flex;
        column-gap: 67px;
    }

    nav a:hover {
        border-top: none;
    }

    .filtres_recherche {

        max-width: 100%;
        justify-content: flex-start;
        column-gap: 10px;
    }

    .filtres_recherche li {
        column-gap: 20px;
    }

    .carte_plus_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .entete_plus_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .plus_populaire {

        width: 100%;
        height: 100%;
        margin-top: 53px;
        margin-right: 50px;
        flex-wrap: wrap;

    }


    .carte_populaire {
        height: 154px;
        width: 32%;
        flex-wrap: nowrap;
    }

    .texte_carte_populaire h5 {
        font-size: 14px;
    }

    .texte_carte_populaireh6 {
        font-size: 13px;
    }

    #section_hebergement {
        display: flex;
        flex-direction: column;
        max-width: 100%;
     
    }
    .hebergement_marseille {

        width: 100%;
        margin-right: 50px;
        flex-wrap: wrap;

    }

    .carte_activites_a_marseille {
        margin-right: 50px;
    }

    .carte_activites {

        width: 182px;
        height: 267px;
        background-color: white;
        flex-wrap: nowrap;
    }

    .image_carte_activites {
        width: 182px;
        height: 210px;
        object-fit: cover;
    }

    .carte_activites_a_marseille p {
        padding-top: 10px;
    }

    footer {

        column-gap: 100px;

    }


}

/*media queries pour le mobile */

@media screen and (max-width:768px)

/*media queries header*/
    {
    header {

        flex-direction: column;
        align-items: center;
        padding-top: 21px;
        height: 106px;
        width: 100%;
        justify-content: space-between;
    }

    .logo {

        padding-left: 0px;
    }

    nav ul {
        margin-right: 0px;
        column-gap: 91px;
    }

    nav a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 23px;
    }

}


/*media queries section activité */
@media screen and (max-width:768px) {
    #filtre_activites {
        margin-top: 31px;
        margin-left: 20px;

    }

    .location_filtre {
        width: 70%;
        flex-wrap: nowrap;
    }

    .filtres_recherche h3 {
        margin-top: 34px;
    }

    .bouton_recherche {
        display: none;
    }

    .location_box3 {

        width: 49px;
        height: 49px;
        display: flex;
        justify-content: center;
    }

    .loupe_recherche_mobile {

        visibility: visible;
        color: white;
        background-color: #0065FC;
        border: none;
    }

    .location_box2 {
        width: 100%;

    }

    .filtres_recherche {
        display: flex;
        flex-direction: column;
        width: 90%;
       
    }

    .bouton_filtres {
        font-size: 11px;
    }

    .filtre {
        width: 160px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    }

    #section_hebergement {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .plus_populaire {
        width: 100%;
        margin: 0;
        justify-content: center;
        border-radius: 0;

    }

    .carte_plus_populaire {
        display: flex;
        flex-direction: column;


    }

    .texte_carte_populaire {
        flex-wrap: nowrap;
        width: 90%;
    }

    .carte_populaire {
        width: 90%;

    }

    .hebergement_marseille {
        width: 100%;
        background-color: white;


    }

    .carte_hebergement_marseille {
        width: 100%;
    }

    .carte_hebergement {
        width: 90%;
        height: 199px;

    }

    .image_hebergement {

        width: 100%;
        height: 124px;
        object-fit: cover;
    }

    .carte_activites_a_marseille {

        row-gap: 24px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .carte_activites {
        width: 90%;
        height: 190px;

    }

    .image_carte_activites {
        width: 100%;
        height: 134px;
        object-fit: cover;
    }


    footer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 61px;
        margin: 0;
        height: 100%;
        margin-top: 80px;

    }
}